{
    "branches": ["main", "next"],
    "repositoryUrl": "https://github.com/kiran-113/16-05-2024",
    "plugins": [
      "@semantic-release/commit-analyzer",
      "@semantic-release/release-notes-generator",
      "@semantic-release/changelog",
      ["@semantic-release/npm", { "npmPublish": false }],
      "@semantic-release/github",
      "@semantic-release/git"
    ]
  }